
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Manrope:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
}

:root {
  --bg-color: #0c0c16;
}

body {
  background: white;
}
.title-line {
  background: var(--bg-color);
  position: relative;
}
.title-overlay {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-items: center;
}
.title-overlay-space {
  background: var(--bg-color);
  flex-grow: 1;
}
.title-overlay-image--mike {
  mask-image: url("/mike.svg"), linear-gradient(#000 0 0);
}
.title-overlay-image--adam {
  mask-image: url("/adam.svg"), linear-gradient(#000 0 0);
}
.title-overlay-image--czyk {
  mask-image: url("/czyk.svg"), linear-gradient(#000 0 0);
}
.title-overlay-image--breachofmind {
  mask-image: url("/breachofmind.svg"), linear-gradient(#000 0 0);
}
.title-overlay-image {
  align-self: flex-start;
  flex-basis: 660px;
  height: 150px;
  background: var(--bg-color);
  mask-position: center, 0 0;
  mask-repeat: no-repeat, repeat;
  mask-size: contain, 100%;
  mask-composite: exclude;
}

/* Outer container to clip overflowing images */
.carousel-container {
  overflow: hidden;
  width: 100%;
  max-width: 960px;
  margin: 20px auto;
  background: black;
}

/* Track holding both groups side by side */
.carousel-track {
  display: flex;
  margin: auto;
  width: max-content;
}

/* Flex layout inside each group */
.carousel-group {
  display: flex;
  align-items: center;
  animation: scroll 15s linear infinite;
}
.carousel-group.reverse {
  animation: scroll-reverse 15s linear infinite;
}

.carousel-mock-image {
  height: 100px;
  width: 100px;
  flex-shrink: 0;
  background: red;
}
.carousel-mock-image:nth-child(odd) {
  background: blue;
}

/* The magic keyframe logic */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scroll-reverse {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
